@font-face {
  font-weight: 400;
  font-family: "Muller";
  font-style: normal;
  src: url("../fonts/MullerRegular.otf");
}

@font-face {
  font-weight: 700;
  font-family: "Muller";
  font-style: normal;
  src: url("../fonts/MullerBold.otf");
}

body {
  font-family: "Muller", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: @normal;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

ul {
  .reset;
}

a {
  text-decoration: none;
}