.btn {
  display: block;
  min-height: 40px;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: @green;
  
  &:hover {
    background-color: @green-dark;
  }
  
  &--sell,
  &--aggregate,
  &--review {
    color: @normal;
    margin-right: 22px;
    background-color: #fff;
    border: 2px solid @green;
    
    &:hover {
      color: @green;
      border-color: @grey-border;
      background-color: #fff;
    }
  }
  
  &--review {
    width: 247px;
  }
  
  &--aggregate {
    width: 195px;
    min-height: 50px;
    margin-right: 25px;
    line-height: 50px;
  }
  
  &--sell {
    width: 230px;
    margin-right: 0;
    margin-left: auto;
    cursor: pointer;
  }
}