.gallery__list {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  border-bottom: 1px solid @green;
  
  &:first-of-type {
    padding-top: 0;
  }
  
  &:last-of-type {
    border: none;
    margin-bottom: 50px;
  }
}

.gallery__item {
  width: 255px;
  margin-right: 55px;
  position: relative;
  border: 3px double @grey-border;
  
  &:nth-child(3n) {
    margin-right: 0;
  }
  
  &:nth-child(n+4) {
    display: none;
  }
  
  &:hover {
    border-style: solid;
  }
}

.gallery__img {
  display: block;
  width: 255px;
  height: 198px;
}

.gallery__block {
  width: 249px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  padding-left: 20px;
  background-color: #959595;
}

.gallery__title {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: #fff;
  margin-top: 0;
  margin-bottom: 7px;
}

.gallery__text {
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  margin: 0;
}