.review__top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
  padding: 20px 0;
  border-top: 1px solid #e5f0d6;
  border-bottom: 1px solid #e5f0d6;
}

.review__label {
  font-size: 18px;
}

.review__link {
  width: 190px;
}

.review__item {
  display: flex;
  border: 1px solid @grey-border;
  margin-bottom: 20px;
}

.review__person {
  width: 30%;
  padding: 40px;
  padding-right: 30px;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  border-right: 1px solid @grey-border;
  background-color: #fcfdfa;
  
  b {
    display: block;
    margin-bottom: 20px;
  }
}

.review__text {
  width: 70%;
  padding: 40px;
  padding-right: 30px;
  margin: 0;
}