.wrapper {
  width: @max;
  margin: 0 auto;
  padding: 0 15px;
  
  &--sidebar {
    padding-left: 0;
    display: flex;
  }
  
  &--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.wrapper-internal {
  width: 945px;
  padding-left: 98px;
}